@model ProjectenOef.Models.ProjectDetailViewModel

<strong>Title</strong>
<p>@Model.Title</p>

<strong>Description</strong>
<p>@Model.Description</p>

<strong>Status</strong>
<p>@Model.ProjectStatus</p>

<strong>Tags</strong>
@foreach (var projectTag in Model.ProjectTags)
{
    <li>@projectTag</li>
}

<strong>Photo</strong>
<p><img src="@Model.PhotoUrl" /></p>

<p>
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</p>